[mysqld]
#transaction-isolation = read-uncommitted
transaction-isolation = read-committed
#transaction-isolation = repeatable-read
#transaction-isolation = serializable
port = 3306
sql_mode=ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
log_error='/var/lib/log/mysql-error.log'
slow_query_log=1
slow_query_log_file='/var/lib/log/slow.log'
general_log=1
general_log_file='/var/lib/log/general.log'
#server-id =1
#log_bin = mysql-bin
innodb_large_prefix=on 
default-time_zone = '+8:00'
innodb_file_format=BARRACUDA